aiofiles==22.1.0 ; python_version >= "3.9" and python_version < "3.12"
alabaster==0.7.12 ; python_version >= "3.9" and python_version < "3.12"
alembic==1.8.1 ; python_version >= "3.9" and python_version < "3.12"
amqp==5.1.1 ; python_version >= "3.9" and python_version < "3.12"
anyio==3.6.2 ; python_version >= "3.9" and python_version < "3.12"
asgi-lifespan==1.0.1 ; python_version >= "3.9" and python_version < "3.12"
asgiref==3.5.2 ; python_version >= "3.9" and python_version < "3.12"
aspy-refactor-imports==2.3.0 ; python_version >= "3.9" and python_version < "3.12"
async-timeout==4.0.2 ; python_version >= "3.9" and python_version < "3.12"
asyncpg==0.27.0 ; python_version >= "3.9" and python_version < "3.12"
attrs==22.1.0 ; python_version >= "3.9" and python_version < "3.12"
babel==2.11.0 ; python_version >= "3.9" and python_version < "3.12"
bandit==1.7.4 ; python_version >= "3.9" and python_version < "3.12"
bcrypt==4.0.1 ; python_version >= "3.9" and python_version < "3.12"
billiard==3.6.4.0 ; python_version >= "3.9" and python_version < "3.12"
black==22.10.0 ; python_version >= "3.9" and python_version < "3.12"
cached-property==1.5.2 ; python_version >= "3.9" and python_version < "3.12"
can-isotp==1.8 ; python_version >= "3.9" and python_version < "3.12"
celery==5.2.7 ; python_version >= "3.9" and python_version < "3.12"
certifi==2022.9.24 ; python_version >= "3.9" and python_version < "3.12"
cffi==1.15.1 ; python_version >= "3.9" and python_version < "3.12"
cfgv==3.3.1 ; python_version >= "3.9" and python_version < "3.12"
charset-normalizer==2.1.1 ; python_version >= "3.9" and python_version < "3.12"
click-didyoumean==0.3.0 ; python_version >= "3.9" and python_version < "3.12"
click-plugins==1.1.1 ; python_version >= "3.9" and python_version < "3.12"
click-repl==0.2.0 ; python_version >= "3.9" and python_version < "3.12"
click==8.1.3 ; python_version >= "3.9" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.12"
commonmark==0.9.1 ; python_version >= "3.9" and python_version < "3.12"
coverage==6.5.0 ; python_version >= "3.9" and python_version < "3.12"
coverage[toml]==6.5.0 ; python_version >= "3.9" and python_version < "3.12"
cryptography==38.0.3 ; python_version >= "3.9" and python_version < "3.12"
databases[asyncpg]==0.6.1 ; python_version >= "3.9" and python_version < "3.12"
deprecated==1.2.13 ; python_version >= "3.9" and python_version < "3.12"
distlib==0.3.6 ; python_version >= "3.9" and python_version < "3.12"
dnspython==2.2.1 ; python_version >= "3.9" and python_version < "3.12"
docutils==0.17.1 ; python_version >= "3.9" and python_version < "3.12"
dparse==0.6.2 ; python_version >= "3.9" and python_version < "3.12"
ecdsa==0.18.0 ; python_version >= "3.9" and python_version < "3.12"
email-validator==1.3.0 ; python_version >= "3.9" and python_version < "3.12"
exceptiongroup==1.0.0 ; python_version >= "3.9" and python_version < "3.11"
fastapi==0.79.1 ; python_version >= "3.9" and python_version < "3.12"
filelock==3.8.0 ; python_version >= "3.9" and python_version < "3.12"
flake8==4.0.1 ; python_version >= "3.9" and python_version < "3.12"
flower==1.2.0 ; python_version >= "3.9" and python_version < "3.12"
gitdb==4.0.9 ; python_version >= "3.9" and python_version < "3.12"
gitpython==3.1.29 ; python_version >= "3.9" and python_version < "3.12"
google-re2==0.2.20220601 ; python_version >= "3.9" and python_version < "3.12"
graphviz==0.20.1 ; python_version >= "3.9" and python_version < "3.12"
greenlet==2.0.0 ; python_version >= "3.9" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "3.12"
gunicorn==20.1.0 ; python_version >= "3.9" and python_version < "3.12"
h11==0.12.0 ; python_version >= "3.9" and python_version < "3.12"
h2==4.1.0 ; python_version >= "3.9" and python_version < "3.12"
hpack==4.0.0 ; python_version >= "3.9" and python_version < "3.12"
httpcore==0.15.0 ; python_version >= "3.9" and python_version < "3.12"
httptools==0.5.0 ; python_version >= "3.9" and python_version < "3.12"
httpx[cli,http2]==0.23.0 ; python_version >= "3.9" and python_version < "3.12"
humanize==4.4.0 ; python_version >= "3.9" and python_version < "3.12"
hyperframe==6.0.1 ; python_version >= "3.9" and python_version < "3.12"
identify==2.5.8 ; python_version >= "3.9" and python_version < "3.12"
identify[license]==2.5.8 ; python_version >= "3.9" and python_version < "3.12"
idna==3.4 ; python_version >= "3.9" and python_version < "3.12"
imagesize==1.4.1 ; python_version >= "3.9" and python_version < "3.12"
importlib-metadata==5.0.0 ; python_version >= "3.9" and python_version < "3.10"
iniconfig==1.1.1 ; python_version >= "3.9" and python_version < "3.12"
interrogate==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.9" and python_version < "3.12"
joblib==1.2.0 ; python_version >= "3.9" and python_version < "3.12"
kombu==5.2.4 ; python_version >= "3.9" and python_version < "3.12"
mako==1.2.3 ; python_version >= "3.9" and python_version < "3.12"
markupsafe==2.1.1 ; python_version >= "3.9" and python_version < "3.12"
mccabe==0.6.1 ; python_version >= "3.9" and python_version < "3.12"
msgpack==1.0.4 ; python_version >= "3.9" and python_version < "3.12" and platform_system != "Windows"
mypy-extensions==0.4.3 ; python_version >= "3.9" and python_version < "3.12"
mypy==0.931 ; python_version >= "3.9" and python_version < "3.12"
nodeenv==1.7.0 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.23.4 ; python_version < "3.12" and python_version >= "3.9"
packaging==21.3 ; python_version >= "3.9" and python_version < "3.12"
pandas-stubs==1.2.0.62 ; python_version >= "3.9" and python_version < "3.12"
pandas==1.5.1 ; python_version >= "3.9" and python_version < "3.12"
passlib[bcrypt]==1.7.4 ; python_version >= "3.9" and python_version < "3.12"
pathspec==0.10.1 ; python_version >= "3.9" and python_version < "3.12"
pbr==5.11.0 ; python_version >= "3.9" and python_version < "3.12"
platformdirs==2.5.2 ; python_version >= "3.9" and python_version < "3.12"
pluggy==1.0.0 ; python_version >= "3.9" and python_version < "3.12"
pre-commit-hooks==4.3.0 ; python_version >= "3.9" and python_version < "3.12"
pre-commit==2.20.0 ; python_version >= "3.9" and python_version < "3.12"
prometheus-client==0.15.0 ; python_version >= "3.9" and python_version < "3.12"
prompt-toolkit==3.0.31 ; python_version >= "3.9" and python_version < "3.12"
psycopg2-binary==2.9.5 ; python_version >= "3.9" and python_version < "3.12"
py==1.11.0 ; python_version >= "3.9" and python_version < "3.12"
pyasn1==0.4.8 ; python_version >= "3.9" and python_version < "3.12"
pybind11==2.10.1 ; python_version >= "3.9" and python_version < "3.12"
pycodestyle==2.8.0 ; python_version >= "3.9" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.9" and python_version < "3.12"
pydantic==1.10.2 ; python_version >= "3.9" and python_version < "3.12"
pydantic[dotenv,email]==1.10.2 ; python_version >= "3.9" and python_version < "3.12"
pyflakes==2.4.0 ; python_version >= "3.9" and python_version < "3.12"
pygments==2.13.0 ; python_version >= "3.9" and python_version < "3.12"
pyjwt==2.6.0 ; python_version >= "3.9" and python_version < "3.12"
pyparsing==3.0.9 ; python_version >= "3.9" and python_version < "3.12"
pytest-asyncio==0.18.3 ; python_version >= "3.9" and python_version < "3.12"
pytest-cov==3.0.0 ; python_version >= "3.9" and python_version < "3.12"
pytest-dotenv==0.5.2 ; python_version >= "3.9" and python_version < "3.12"
pytest-mock==3.10.0 ; python_version >= "3.9" and python_version < "3.12"
pytest==7.2.0 ; python_version >= "3.9" and python_version < "3.12"
python-can==4.0.0 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.12"
python-dotenv==0.21.0 ; python_version >= "3.9" and python_version < "3.12"
python-jose[cryptography]==3.3.0 ; python_version >= "3.9" and python_version < "3.12"
python-multipart==0.0.5 ; python_version >= "3.9" and python_version < "3.12"
pytz==2022.6 ; python_version >= "3.9" and python_version < "3.12"
pywin32==304 ; platform_system == "Windows" and platform_python_implementation == "CPython" and python_version >= "3.9" and python_version < "3.12"
pyyaml==6.0 ; python_version >= "3.9" and python_version < "3.12"
redis==4.3.4 ; python_version >= "3.9" and python_version < "3.12"
reorder-python-imports==2.8.0 ; python_version >= "3.9" and python_version < "3.12"
requests==2.28.1 ; python_version >= "3.9" and python_version < "3.12"
rfc3986[idna2008]==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
rich==12.6.0 ; python_version >= "3.9" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.9" and python_version < "3.12"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.9"
ruamel-yaml==0.17.21 ; python_version >= "3.9" and python_version < "3.12"
safety==1.10.3 ; python_version >= "3.9" and python_version < "3.12"
scikit-learn==1.1.3 ; python_version >= "3.9" and python_version < "3.12"
scipy==1.9.3 ; python_version >= "3.9" and python_version < "3.12"
setup-cfg-fmt==1.20.2 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
smmap==5.0.0 ; python_version >= "3.9" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.9" and python_version < "3.12"
snowballstemmer==2.2.0 ; python_version >= "3.9" and python_version < "3.12"
sphinx-autodoc-typehints==1.19.1 ; python_version >= "3.9" and python_version < "3.12"
sphinx-rtd-theme==1.1.0 ; python_version >= "3.9" and python_version < "3.12"
sphinx==4.5.0 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy2-stubs==0.0.2a29 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy==1.4.42 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy[asyncio]==1.4.42 ; python_version >= "3.9" and python_version < "3.12"
starlette==0.19.1 ; python_version >= "3.9" and python_version < "3.12"
stevedore==4.1.0 ; python_version >= "3.9" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.9" and python_version < "3.12"
threadpoolctl==3.1.0 ; python_version >= "3.9" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.9" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.12"
tornado==6.2 ; python_version >= "3.9" and python_version < "3.12"
tox-poetry==0.4.1 ; python_version >= "3.9" and python_version < "3.12"
tox-pyenv==1.1.0 ; python_version >= "3.9" and python_version < "3.12"
tox==3.27.0 ; python_version >= "3.9" and python_version < "3.12"
typing-extensions==4.4.0 ; python_version >= "3.9" and python_version < "3.12"
ujson==5.5.0 ; python_version >= "3.9" and python_version < "3.12"
ukkonen==1.0.1 ; python_version >= "3.9" and python_version < "3.12"
urllib3==1.26.12 ; python_version >= "3.9" and python_version < "3.12"
uvicorn[standard]==0.17.6 ; python_version >= "3.9" and python_version < "3.12"
uvloop==0.17.0 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.9" and python_version < "3.12"
vine==5.0.0 ; python_version >= "3.9" and python_version < "3.12"
virtualenv==20.16.6 ; python_version >= "3.9" and python_version < "3.12"
watchdog[watchmedo]==2.1.9 ; python_version >= "3.9" and python_version < "3.12"
watchgod==0.8.2 ; python_version >= "3.9" and python_version < "3.12"
wcwidth==0.2.5 ; python_version >= "3.9" and python_version < "3.12"
websockets==10.4 ; python_version >= "3.9" and python_version < "3.12"
windows-curses==2.3.0 ; platform_system == "Windows" and platform_python_implementation == "CPython" and python_version >= "3.9" and python_version < "3.12"
wrapt==1.14.1 ; python_version >= "3.9" and python_version < "3.12"
zipp==3.10.0 ; python_version >= "3.9" and python_version < "3.10"
